<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container" style="background-color: #FFFFF0">


    <div class="bg-dark">
        <h1 class=" mb-4" style="text-align: center;color: aliceblue;padding-top: 20px ">LOGIN</h1>

    </div>
    <div style="display: {{status}}"  class="alert alert-success mt-3" role="alert">
        {{data}}
    </div>
    <form method="get" action="index">
        <div class="mb-5">
        </div>
        <text>Username</text>

        <input class="form-control mb-4 " value="{{name}}" name="name" placeholder="UserName"/>
        <div>

            <text>Password</text>
            <input class="form-control mb-4 " value="{{password}}" name="password" type="password" placeholder="PassWord"/>
        </div>
        <div style="text-align: center;margin-top: 50px" class="container ">

            <button class=" btn btn-danger  btn-lg  active " value="login"
                    style="margin-right: 30px;padding-right: 30px" type="submit"> Login
            </button>
            <a href="/register" class=" btn btn-danger  btn-lg  active" value="register"
               style="margin-left: 30px;padding-left: 30px" type="submit"> Register </a>
            <i style="color: gray;padding-top: 100px">(if you don't have a account)</i>
        </div>
    </form>


</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>